.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000033;
    z-index: 2;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 40px;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-form-field {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

}

.modal-form-field-input:hover,
.modal-form-field-input:focus,
.comment-area:hover,
.comment-area:focus,
.footer-input:hover,
.footer-input:focus {
    fill: #2196F3;
    outline: 1px solid #2196F3;
}

.modal-form-field-input {
    @extend %transition;
    height: 40px;
    width: 100%;
    border: 1px solid #21212133;
    border-radius: 5px;
    padding-left: 42px;

}

.comment-area {
    @extend %transition;
    width: 100%;
    padding: 12px 15px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #21212133;
}

.footer-input {
    @extend %transition;
}

.form-field-check {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-btn {
    margin-top: 30px;
}

.modal-link {
    color: #2196F3;
    text-decoration: underline;
}

.modal-text {
    text-align: center;
}

.modal-icons {
    position: absolute;
    top: 15px;
    left: 15px;

}

.modal-position {
    position: relative;
}

.modal-position:hover,
.modal-position:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
    @extend %hover-color;
}

.modal-close-btn {
    @extend %transition;
    display: flex;
    position: absolute;
    align-items: center;
    top: 15px;
    right: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #00000000;
    border: 1px solid #0000001A;
}