.advantages {
    display: none;
}

.advantages-list {
    @extend %sections;
    column-gap: 30px;
}

.advantages-desc {
    margin-top: 10px;
    // color: #757575;
    color:var(--text-color);
}




