.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    color: var(--title-color);
}

.section {
    padding: 94px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    padding: 24px 0;
    max-width: 1600px;
    margin: 0 auto;
}

.header-position {
    @extend %sections;
}

.logo {
    @extend %fonts;
    font-weight: 700;
}

.logo-web {
    color: #000000;
}

.logo-studio {
    color: #2196f3;
}

.navigation {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    width: 280px;
    justify-content: space-between;
    margin-left: 93px;
}

.list-item {
    @extend %transition;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;

}

.list-item:hover:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    content: '';
    background-color: #2196F3;
    border-radius: 2px;
    transform: translate(0px, 27px);
}

.list-contacs {
    @extend %sections;
    margin-left: auto;
}

.menu-contact+.menu-contact {
    margin-left: 50px;
}

.menu-contact {
    @extend %main-font;
    font-weight: 500;
    font-size: 14px;
}

.item-hover {
    @extend %transition;
}

.item-hover:hover,
.item-hover:focus {
    @extend %hover-color;
}

.header-contact {
    @extend %sections;
    text-decoration: none;
    justify-content: center;
    color: inherit;
}

.header-icons {
    margin-right: 10px;
    fill: #757575;
}